# cache python
__pycache__/
*.py[code]

# Dossier de données
data/*/*
!data/*/
!data/*/.gitkeep


# Fichiers VS code facultatifs
.vscode/

.venv/

# Outputs : garder les dossiers, ignorer leur contenu
outputs/*/*
!outputs/*/
!outputs/*/.gitkeep
# Sauf le dossier presentations : conserver son contenu
!outputs/presentations/
!outputs/presentations/**/*

autre/